* {
  box-sizing: border-box;
}

body, html {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;

  height: 100%;
}

.mainContainer {
  margin: 0;
  height: 100%;
  background-size: cover;
  /* background-position: center center; */
  background-position: center;
  background-attachment: fixed;
}

.menuButton a {
  color: #fff;
  text-decoration: none;
  padding: 14px 16px;
}

.menuButton a:hover, .menuButton a:active {
  background-color: #a2e5fa;
}

.menuContainer {
  display: flex;
  background-color: #333;
  color: #fff;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, .3);
  backdrop-filter: blur(10px);
  width: 100%;

  z-index:10;
  position: fixed;
  top: 0;
}

#thispage {
  background-color: #a2e5fa;
  padding: 14px 0px;
}

/* ****************************************************** */

#page1 {
  background-image: url("AdobeStock_251517192.jpeg");
}

.videoContent {
  display: flex;
  /* flex-direction: column; */
  /* height: 80%; */
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  /* align-content: center; */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, .3);
  backdrop-filter: blur(10px);
  border-radius: 25px;
}

/* ****************************************************** */

#page2 {
  background-image: url("AdobeStock_369196720.jpeg");
}

h1, h2 {
  text-align: center;
}
h2 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  background-image: url("AdobeStock_369196720.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  /* background-color: #fae8b6; */
  /* yellow */
}

.firstContent {
  margin: 8%;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  /* background-color: #fab6f2; */
  /*pink*/
}

.secondContent {
  margin: 8%;

  /* background-color: #b6e2fa; */
  /* light-blue */
}

.firstContent, .secondContent {
  /* padding-top: 5%; */
  padding: 3%;
  /* margin: 8%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */

  border-radius: 25px;
  background-color: rgba(255, 255, 255, .7);
  backdrop-filter: blur(10px);

}

.columnsContainer {
  display: flex;
}

.leftContentColumn, .rightContentColumn {
  padding: 1%;

  /* background-color: #e4b6fa; */
  /* purple */
}

/* ****************************************************** */

#page3 {
  background-image: url("AdobeStock_369253259.jpeg");
}
