* {
  box-sizing: border-box;
}

body, html {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;

  height: 100%;
}

.mainContainer {
  /* display: flex; */
  /* flex-direction: column; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-attachment: fixed; */
  margin: 0;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-blend-mode: color;
  background-attachment: fixed;
}

.menuButton a {
  color: #fff;
  text-decoration: none;
  padding: 14px 16px;
}

.menuButton a:hover, a:active {
  background-color: #a2e5fa;
}

.menuContainer {
  display: flex;
  background-color: #333;
  color: #fff;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, .3);
  backdrop-filter: blur(10px);
  width: 100%;
}

/* ****************************************************** */

#page1 {
  background-image: url("AdobeStock_251517192.jpeg");
}

.videoContent {
  display: flex;
  /* height: 100%; */
  padding: 5%;
  margin: 10%;
  align-items: center;
  justify-content: center;

  border-radius: 25px;

  background-color: rgba(255, 255, 255, .3);
  backdrop-filter: blur(10px);
}

/* ****************************************************** */

#page2 {
  background-image: url("AdobeStock_369196720.jpeg");
}

h1, h2 {
  text-align: center;
}
h2 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  /* padding: 5%; */

  /* background-color: #fae8b6; */
  /* yellow */
}

.firstContent {
  /* background-color: #fab6f2; */
  margin: 8%;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  /*pink*/
}

.secondContent {
  /* background-color: #b6e2fa; */
  margin: 8%;
  /* light-blue */
}

.firstContent, .secondContent {
  /* padding-top: 5%; */
  padding: 3%;
  /* margin: 8%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */

  border-radius: 25px;
  background-color: rgba(255, 255, 255, .7);
  backdrop-filter: blur(10px);

}

#disasters {
  width: 100%;
  /* height: 100%; */
}

.columnsContainer {
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  /* justify-content: space-between; */

  /* background-color: ##ffc0b5; */
  /*peach*/
}

.leftContentColumn, .rightContentColumn {
  /* padding: 5%; */
}

.leftContentColumn {
  /* background-color: #e4b6fa; */
  padding: 1%;
  /* purple */
}

.rightContentColumn {
  /* flex-grow: 15; */
  /* background-color: #dbfab6; */
  padding: 1%;
  /*lime*/
}

/* ****************************************************** */

#page3 {
  background-image: url("AdobeStock_369253259.jpeg");
}
